{% extends "base.html" %}

{% block content %}

<h1>Математические модели языка</h1>

<a href="/subjects?level=master">← Назад к дисциплинам</a>

<hr>

<h3>Описание дисциплины</h3>

<p>
Дисциплина посвящена математическим методам анализа языка,
моделированию языковых процессов и обработке текстовых данных.
</p>

<h3>Основные темы</h3>

<ul>
    <li>Теория вероятностей</li>
    <li>Статистика</li>
    <li>Математические модели текста</li>
    <li>Языковые модели</li>
    <li>NLP-системы</li>
</ul>

{% endblock %}