body {
    background: #f6efff;
    font-family: Arial;
}

.test-container {

    width: 400px;

    margin: 50px auto;

    background: white;

    padding: 30px;

    border-radius: 20px;

    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.progress {

    width: 100%;
    height: 10px;

    background: #eee;

    border-radius: 10px;

    margin-bottom: 20px;
}

.progress-bar {

    width: 40%;

    height: 100%;

    background: #8e2de2;

    border-radius: 10px;
}

.answer {

    display: block;

    padding: 15px;

    margin-top: 10px;

    border: 2px solid #ddd;

    border-radius: 12px;

    cursor: pointer;
}

.answer:hover {
    border-color: #8e2de2;
}

button {

    width: 100%;

    margin-top: 20px;

    padding: 15px;

    border: none;

    border-radius: 12px;

    background: #8e2de2;

    color: white;

    font-size: 16px;

    cursor: pointer;
}

.popup-overlay {

    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.4);

    backdrop-filter: blur(5px);

    display: none;

    justify-content: center;
    align-items: center;

    z-index: 999;
}

.popup-box {

    width: 350px;

    background: linear-gradient(
        135deg,
        #7b2ff7,
        #9f44ff
    );

    color: white;

    padding: 35px;

    border-radius: 25px;

    text-align: center;

    position: relative;

    animation: popupAnim 0.5s ease;

    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.popup-box h2 {

    margin-bottom: 15px;

    font-size: 28px;
}

.popup-box p {

    font-size: 16px;

    opacity: 0.9;
}

.close-btn {

    position: absolute;

    top: 15px;
    right: 15px;

    border: none;

    background: transparent;

    color: white;

    font-size: 24px;

    cursor: pointer;
}

.close-btn:hover {

    transform: scale(1.2);
}

@keyframes popupAnim {

    from {

        transform: scale(0.7);

        opacity: 0;
    }

    to {

        transform: scale(1);

        opacity: 1;
    }
}