<link rel="stylesheet" href="/static/style.css">

<!DOCTYPE html>
<html>
<head>
    <title>University Portal</title>
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

<div class="navbar">
    <h2>University</h2>
    <div>
        <a href="{{ url_for('disciplines') }}">Дисциплины</a>
        <a href="{{ url_for('teachers') }}">Преподаватели</a>
        <a href="{{ url_for('news') }}">Новости</a>
        <a href="{{ url_for('feedback') }}">Отзывы</a>
        <a href="{{ url_for('chatbot') }}">Бот-помощник</a>
        <a href="/test">Тестирование</a>
        <a href="/login">Войти</a>
    </div>
</div>

<!-- CONTENT -->
<div class="container">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>
