{% extends "base.html" %}

{% block content %}

<h1>Дисциплины</h1>

<a href="/">Главная</a>

<br><br>

<button onclick="showBachelor()">Бакалавриат</button>
<button onclick="showMaster()">Магистратура</button>

<br><br>

<div id="bachelor">

    <h2>Бакалавриат</h2>

    <p><a href="/subject/oop">Введение в объектно-ориентированное программирование</a></p>

    <p><a href="/subject/statistical_mt">Статистический машинный перевод</a></p>

    <p><a href="/subject/information_retrieval">Введение в информационный поиск</a></p>

    <p><a href="/subject/python_basics">Основы языка Python</a></p>

    <p><a href="/subject/translation_theory">Основы теории и практики машинного перевода</a></p>

    <p><a href="/subject/llm_system_design">Основы проектирования информационных систем с применением больших языковых моделей</a></p>

</div>

<div id="master" style="display:none;">

    <h2>Магистратура</h2>

    <p><a href="/subject/math_models">Математические модели языка</a></p>

    <p><a href="/subject/nlp_deep_learning">Обработка естественного языка (NLP) и глубокое обучение</a></p>

    <p><a href="/subject/machine_translation">Автоматический перевод и кросс-языковые системы</a></p>

    <p><a href="/subject/text_mining">Корпусная лингвистика и извлечение данных (Text Mining)</a></p>

    <p><a href="/subject/semantic_analysis">Семантический анализ и онтологии</a></p>

    <p><a href="/subject/speech_technology">Речевые технологии и синтез речи</a></p>

</div>

<script>

const params = new URLSearchParams(window.location.search);

if (params.get("level") === "master") {
    showMaster();
} else {
    showBachelor();
}

function showBachelor() {
    document.getElementById("bachelor").style.display = "block";
    document.getElementById("master").style.display = "none";
}

function showMaster() {
    document.getElementById("bachelor").style.display = "none";
    document.getElementById("master").style.display = "block";
}
</script>

{% endblock %}
